<link rel="stylesheet" href="/css/style.css">

<h1>Admin Panel</h1>

<form method="POST" action="/admin/add">

<input name="title" placeholder="title">
<input name="category" placeholder="category">
<input name="points" placeholder="points">

<textarea name="description"></textarea>

<input name="flag" placeholder="flag">

<button>Add Challenge</button>

</form>
