<!DOCTYPE html>
<html>
<head>
<title>Admin Panel</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="navbar">

<h2>⚡ VIVY CTF</h2>

<div>
<a href="/challenge">Challenges</a>
<a href="/scoreboard">Scoreboard</a>
<a href="/profile">Profile</a>
</div>

</div>

<div class="container">

<h1 class="title">Admin Panel</h1>

<div class="card">

<h3>Add Challenge</h3>

<form method="POST" action="/admin/add" enctype="multipart/form-data" class="admin-form">

<input name="title" placeholder="Challenge title" required>

<input name="category" placeholder="Category (web, crypto, pwn)" required>

<input name="points" placeholder="Points" type="number" required>

<textarea name="description" placeholder="Challenge description"></textarea>

<input name="flag" placeholder="Flag (example: CTF{flag})" required>

<input type="file" name="file">

<button class="submit-btn">Add Challenge</button>

</form>

</div>

</div>

</body>
</html>
