<!DOCTYPE html>
<html>
<head>
<title>Register - VIVY CTF</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="login-container">

<div class="login-card">

<h2 class="login-title">⚡ VIVY CTF Register</h2>

<form method="POST" class="login-form">

<input name="username" placeholder="Username" required>

<input name="password" type="password" placeholder="Password" required>

<button class="submit-btn">Register</button>

</form>

<p class="register-link">
Already have account? <a href="/login">Login</a>
</p>

</div>

</div>

</body>
</html>
