<!DOCTYPE html>
<html>
<head>
<title>Scoreboard</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="navbar">

<h2>⚡ VIVY CTF</h2>

<div>
<a href="/challenge">Challenges</a>
<a href="/scoreboard">Scoreboard</a>
<a href="/profile">Profile</a>
</div>

</div>

<div class="container">

<h1 class="title">🏆 Scoreboard</h1>

<div class="card">

<table class="score-table">

<tr>
<th>#</th>
<th>User</th>
<th>Score</th>
</tr>

<% users.forEach((u,i)=>{ %>

<tr>
<td><%= i+1 %></td>
<td><%= u.username %></td>
<td><%= u.score %></td>
</tr>

<% }) %>

</table>

</div>

</div>

</body>
</html>
